# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\adamf\Desktop\3. ročník\Zimny semester\PKS\Zadania\Zadanie 3\zadanie3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
